html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: rgb(153, 158, 158);
    padding: 10px 20px 0px;
}
.header-index {
    min-height: 150px;
    background-image: url("/imgs/header-index.jpg");
}

.header-hours {
    min-height: 150px;
    background-image: url("/imgs/header-horarios.jpg");
}

.header-contacts {
    min-height: 150px;
    background-image: url("/imgs/header-contatos.jpg");
}

.header-about {
    min-height: 150px;
    background-image: url("/imgs/header-sobre.jpg");
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    min-height: 150px;
    background-image: url("/imgs/footer-bg.png");
}
